<div class="panel panel-info center">
    <div class="panel-heading">
        <%= image_tag(pic, style: "height: 50%; width: 50%") %>
    </div>
    <div class="panel-body">
        <label>Player Name</label>
        <p id="player<%= nbr %>_name">Player 1</p>
        <label>Score</label>
        <p class="score" id="player<%= nbr %>_score">0</p>
    </div>
</div>