<div class="container hero-unit center">
    <h1>Hello, welcome to this awesome site!</h1>
    <br>
    <p><%= link_to "Let's play som Tic Tac Toe", game_new_path, class: 'btn btn-primary btn-lg' %></p>
</div>